




.border{

    
    border:12px;
    
    border-top-width: 8px;
    border-bottom-width: 8px;

    border-style: ridge;
    
    border-color: rgb(133, 133, 133);
    display: flex;
    z-index: 2;


    
    }
.boxbody{

width: 800px;
height: 400px;

    border-color: rgb(137, 137, 137);
    border:18px;

    border-top-width: 12px;
    border-bottom-width: 12px;


    border-style: inset;



    display: flex;

    flex-direction: column;




    
}

.boxtop{
height: 30%;
background-color: var(--overlayColor);
font-size: large;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.boxtopbuttonadd{

width: 20px;
height: 20px;
align-self: flex-end;
margin: 10px;

position:absolute

}

.boxtopbuttonsub{

    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin: 10px;
    margin-top: 40px;
    position:absolute
    
    }

.slotsides{

display: flex;

}
.boxmid{
    height: 40%;

    display:flex;
    flex-direction: column;

}
.slotbox{

    
    display:flex;
    flex-direction: column;
    align-content: center;


}
.slotrowrow{



    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.slotrow{

    
    display: flex;

}
.slotcolumn{

    background-color: var(--overlayColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    z-index: 2;
    padding-inline: 5px;
    margin-top: -0.5px;
    margin-bottom: -0.5px;


}
.fillerheightless{


    background-color: var(--overlayColor);
    flex-grow: 1;
}
.filler{

    background-color: var(--overlayColor);
    flex-grow: 1;
    min-height: 40px;
    margin: -0.5px;
}
.slotborder{

border-style: inset;


}
app-slot{
    
    width: 100px;
    height: 40px;

    display: flex;
    flex-direction: column;
    
    z-index: -2;
}
.boxbottom{

    height: 30%;

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlayColor);


}
.boxbutton{

height: 40px;
background-color: rgb(192, 192, 192);
border-color: rgb(137, 137, 137);

border-width: 5px;
border-style: outset ;
font: var(--font);

}
.boxbutton:active{

    border-style: inset;
    
    

}
.boxbutton:hover{

    background-color: rgb(161, 161, 161);
    

}